@use "./Theme.scss" as *;

.game {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $background;
    overflow-x: hidden;
    overflow-y: hidden;
}

.game .feed {
    position: relative;
}

.game .map-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: $padding-3;
}

.game .map-container .map {
    width: 20rem;
    height: 20rem;
}
