@use "./Theme.scss" as *;

:root {
    overflow-x: hidden;
    overflow-y: hidden;
    inset: 0;
    padding: 0;
}

body {
    inset: 0;
    padding: 0;
    background-color: #000000;
}

.app {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: min(100vw, 177.78vh);
    height: min(100vh, 56.23vw);
    aspect-ratio: 16 / 9;
    overflow: hidden;
    container-type: size
}

h1, h2, button, a, p {
    font-family: $font;
    margin-block: 0;
}

h1, h2 {
    font-size: 5vw;
}

button,
p, a {
    font-size: 2vw;
}

a {
    text-decoration: underline;
}
