@use "./Theme.scss" as *;

:root {
    overflow-x: hidden;
    overflow-y: hidden;
    inset: 0;
    padding: 0;
}

h1, h2, button, a, p {
    margin-block: 0;
}

button,
p {
    font-family: $font;
    font-size: 2rem;
}
