@use "./Theme.scss" as *;

.app .menu {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff6c7;

    .blob {
        width: 80cqw;
    }

    .play {
        position: absolute;
        padding: 0;
        aspect-ratio: 2/1;
        width: 25%;
        right: 10%;
        bottom: 5%;
        background-color: #00000000;
        border-width: 0;
    }
}