@use "./Theme.scss" as *;

.results {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $background;
    overflow-x: hidden;
    overflow-y: hidden;

    .map {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        padding: $padding-2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 11;
    }
}
